@using BlockchainDemonstratorApi.Models.Classes;
@model BlockchainDemonstratorApi.Models.Classes.Factors

@{
    ViewData["Title"] = "Index";
    List<Option> options = (List<Option>)ViewData["Options"];
    List<Role> roles = (List<Role>)ViewData["Roles"];
}

<h1>Game tuning</h1>

