
@{
    ViewData["Title"] = "Index";
}

<form id="join-game-form" asp-action="GameView" style="display: none">
    <h4>Seems like you are already part of an ongoing game. Would you like to join this game?</h4>
    <input id="join-game-form--textinput" type="text" name="gameId" style="display: none">
    <input type="submit" value="Join game">
</form>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/BeerGame.js"></script>
    <script>

       function getCookie(name) {
       const value = `; ${document.cookie}`;
       const parts = value.split(`; ${name}=`);
       if (parts.length === 2) return parts.pop().split(';').shift();
       }

       if (typeof getCookie("JoinedGame") !== "undefined"){
           $("#join-game-form--textinput").val(getCookie("JoinedGame"));
           $("#join-game-form").css("display", "block")
       }

       BeerGame.init(getCookie('JoinedGame'), getCookie('PlayerId'), "@ViewData["RestApiUrl"]")
    </script>
}
