
@{
    ViewData["Title"] = "NewGameView";


    string role="";

    if (role == "") { };
}

<h1>NewGameView</h1>

<link rel="stylesheet" href="~/css/site.css">

<body>

    <div class="wrapper">

        <div class="top-container">

            <div id="maincanves"> </div>
        </div>

        <div class="top-left">

            <div id="canves1"></div>
            <div id="canves2"></div>

        </div>


    </div>


    <div class="bot-left">

        <div id="canves3"></div>

        <div id="canvessubmit">

            <input name="order" class="input" type="text" placeholder="Insert order...">

            <input class="order-button gradient" type="button" value="Join game">

        </div>


        <div id="canves3"></div>

    </div>




    

    



    @* Comment goes here
        <div class="wrapper">

            <div id="maincanves">test</div>
            <div id="borderbox">test</div>


        </div>

        <div id="borderbox">test</div>
    *@
</body>