
@{
    ViewData["Title"] = "NewGameView";
}

<h1>NewGameView</h1>

<link rel="stylesheet" href="~/css/site.css">

<body>

    <div class="wrapper">

        <div class="top-container">

            <div id="maincanves"> </div>
        </div>

        <div class="top-left">

            <div id="canves1"></div>
            <div id="canves2"></div>

        </div>


    </div>


    <div class="bot-left">
        <div id="canves1"></div>

        <div id="canvessubmit">
            <input type="text"  name="fname">
            

        </div>


        <div id="canves1"></div>
    </div>




    

    



    @* Comment goes here
        <div class="wrapper">

            <div id="maincanves">test</div>
            <div id="borderbox">test</div>


        </div>

        <div id="borderbox">test</div>
    *@
</body>