.option-prompt {
    top: 100px;
    left: 25%;
    height: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
    flex-direction:column;
}

.option-prompt-div {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}

.option-prompt--text {
    width: 100%;
    height: 25%;
    text-align: center;
}

.option-prompt--button {
    min-width: 210px;
    padding: 5px;
    text-align:center;
    border:none;
    outline:none;
    border-radius:10px;
    color:white;
}

.top-container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

* {
    box-sizing: border-box;
}

.main-canvas {
    border-radius: 18px;
    height: 600px;
    margin-right: 2em;
}

.backorder-value {
    position: absolute;
    height: 24.1%;
    width: 14.4%;
    top: 50.5%;
    left: 4.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incoming-order-value {
    position: absolute;
    height: 31%;
    width: 18.5%;
    top: 34.5%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory-value {
    position: absolute;
    height: 30.3%;
    width: 18%;
    top: 62.1%;
    left: 48.9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incoming-delivery-value {
    position: absolute;
    height: 30.3%;
    width: 18%;
    top: 34.8%;
    left: 77.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backorder-text {
    position: absolute;
    height: 7%;
    width: 14.5%;
    top: 74%;
    left: 4.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incoming-order-text {
    position: absolute;
    height: 7%;
    width: 21.5%;
    top: 64.6%;
    left: 18.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory-text {
    position: absolute;
    height: 7%;
    width: 14.5%;
    top: 87.5%;
    left: 50.65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory-flush {
    position: absolute;
    height: 7%;
    width: 14.5%;
    top: 93%;
    left: 50.65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incoming-delivery-text {
    position: absolute;
    height: 7%;
    width: 24.5%;
    top: 64.6%;
    left: 74.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-text {
    position: absolute;
    height: 7%;
    width: 14.5%;
    top: 0;
    left: 1.25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-player-text {
    position: absolute;
    height: 7%;
    width: 20.5%;
    top: 0;
    left: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-player-text {
    position: absolute;
    height: 7%;
    width: 20.5%;
    top: 0;
    left: 39.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-player-text {
    position: absolute;
    height: 7%;
    width: 20.5%;
    top: 0;
    left: 60.45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.harvester-text {
    position: absolute;
    height: 7%;
    width: 14.5%;
    top: 0;
    left: 84.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-right-canvas {
    border-radius: 18px;
    /*margin-left: 10px;*/
    margin-bottom: 2em;
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-canvas {
    border-radius: 18px;
    width: 100%;
    height: 484px;
    display: grid;
    grid-template-rows: 1.5fr 3fr 3fr;
}

.middle-position-text {
    width: 100%;
    text-align: center;
    display: block;
}

.cash-position-box {
    display: flex;
    flex-direction: column;
}

.cash-position-value {
    padding-top: 10px;
}

.bottom-canvas {
    border-radius: 18px;
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.input {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.flush-button {
    border-radius: 10px;
    width: auto;
    outline: none;
    border: none;
    height: 30px;
}

.flush-button:hover {
    filter: saturate(0.5)
}

.order-button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
}

.order-button:hover {
    filter: saturate(0.5)
}