@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="gradient-font">Beer game</h1>

    <head>
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </head>
    <form class="game-id-box" asp-controller="BeerGame" asp-action="ChooseRoleAndName">
        <input name="gameId" class="input-id" type="text" placeholder="Insert game id..." />
        <input class="input-button gradient" type="submit" value="Join game" />
        <div class="gradient-shadow"></div>
    </form>
</div>
