@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class="login-grid">
    <h2 style="margin-top:10%">THE BLOCKCHAIN DEMONSTATOR</h2> @*//TODO: make this look good*@
    <h1 class="gradient-font">BEERGAME</h1>
    <form style="padding:0px" id="gameIdBox" class="game-id box" asp-controller="BeerGame" asp-action="ChooseRoleAndName">
        <input name="gameId" class="input-id" type="text" placeholder="Insert game id..." />
        <input class="input-button gradient" type="button" value="Join game" onclick="joinGame()" />
        <div class="gradient-shadow"></div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/BeerGame.js"></script>
    <script>
        $("document").ready(() => {
            BeerGame.init("", "", "@ViewData["RestApiUrl"]");
            let playerId = BeerGame.Cookie.getCookie("PlayerId");
            if (playerId != null) {
                BeerGame.checkInGame(playerId).then((result) => {
                    let gameId = JSON.parse(result);
                    console.log(gameId);
                    if (gameId != null) {
                        $("body").append($(`<form class="choiceForm box" style="flex-direction:row; margin-top:2%" id="join-game-form" action="/beergame/beergame">
                            <h4>Seems like you are already part of an ongoing game. Would you like to join this game?</h4>
                            <input class="rejoinButton gradient" type="submit" value="Join game">
                            <input class="rejoinButton gradient" type="button" onclick="(function () { $('#join-game-form').hide() })()" value="Cancel"/>
                            </form>`
                        ));
                    }
                })
            }
        });
        let joinGame = () => {
            let gameId = $("input[name=gameId]").val();

            BeerGame.Signal.checkFull(gameId).then((result) => {
                if (result.length != 0) $("#gameIdBox").submit();
                else {
                    //TODO: make small popup that warns that the game is full
                }
            });
        }
    </script>
}
