
@{
    ViewData["Title"] = "Login";
    bool setupAdmin = (bool)ViewData["SetupAdmin"];
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<form method="post" class="login-form box-absolute" asp-action="LoginPost">
    <input name="id" type="text" placeholder="Insert id..." />
    <input name="password" type="text" placeholder="Insert password... [optional]" />
    <input type="submit" value="Login" />
</form>