
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<form class="login-form box-absolute">
    <input type="text" placeholder="Insert id..." />
    <input type="text" placeholder="Insert password... [optional]" />
    <input type="submit" value="Login" />
</form>