
@{
    ViewData["Title"] = "Login";
    bool adminExists = (bool)ViewData["AdminExists"];
    bool loginFailed = (bool)ViewData["LoginFailed"];
}

<div class="login-grid">
    @if (adminExists)
    {
        @if (loginFailed)
        {
            <div style="position:absolute" class="box login-failed">
                <h1 style="color:red">Login failed!</h1>
            </div>
        }
        <form method="post" class="login-form box" asp-action="LoginPost">
            <input style="width:60%" class="text-input" name="id" type="text" placeholder="Insert id..." />
            <input style="margin-top: 10px; width:60%" class="text-input" name="password" type="password" placeholder="Insert password... [optional]" />
            <input style="margin-top: 10px;" class="rejoinButton gradient" type="submit" value="Login" />
        </form>
    }
    else
    {
        @if (loginFailed)
        {
            <div style="position:absolute" class="box login-failed">
                <h1 style="color:red">Login failed!</h1>
            </div>
        }
        <h1 style="margin:auto;margin-top:15%" class="gradient-font">It seems like no admin account has been created yet</h1>
        <h2 style="margin:auto">Please create a admin account before continuing</h2>
        <form style="margin-top:5% " method="post" class="login-form box" asp-action="CreateAdmin">
            <input style="width:60%" name="id" type="text" placeholder="Insert id..." />
            <input style="margin-top: 10px; width:60%" name="password" type="password" placeholder="Insert password..." />
            <input style="margin-top: 10px;" class="rejoinButton gradient" type="submit" value="Create account" />
        </form>
    }
</div>
