@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p> <a href="https://localhost:44313/BeerGame/CreateGame">CreateGame</a>.</p>
    <p> <a href="https://localhost:44313/BeerGame/GamePinView">GamePinView</a>.</p>
    <p> <a href="https://localhost:44313/BeerGame/JoinGame">JoinGame</a>.</p>
    <p> <a href="https://localhost:44313/BeerGame">TheBeerGame</a>.</p>







</div>
