@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blockchain game</h1>

    <p> <a href="https://localhost:44313/BeerGame/CreateGame">Create game method</a></p>
    <p> <a href="https://localhost:44313/BeerGame/GamePinView">Join game page</a></p>
    <p> <a href="https://localhost:44313/BeerGame/BeerGame">Player game page</a></p>
    <p> <a href="https://localhost:44313/Factors">Game tuning page</a></p>
    <p> <a href="https://localhost:44313/BeerGame">Game tuning game page</a></p>
</div>
