@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blockchain game</h1>

    <p> <a href="https://localhost:44313/BeerGame/CreateGame">CreateGame</a></p>
    <p> <a href="https://localhost:44313/BeerGame/GamePinView">GamePinView</a></p>
    <p> <a href="https://localhost:44313/BeerGame/JoinGame">JoinGame</a></p>
    <p> <a href="https://localhost:44313/BeerGame">New Beer game</a></p>
    <p> <a href="https://localhost:44313/BeerGame/BeerGame">Old Beer game</a></p>
    <p> <a href="https://localhost:44313/factors">Factors</a></p>
    <p> <a href="https://localhost:44313/Factors/Edit/DefaultFactors">Edit Factors</a></p>






</div>
